.postsSection {
  padding: 0 80px;
  margin: 128px auto;
  max-width: 1280px;
}

.container {
  width: 100%;
}

.postsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.featuredTitle, .allPostsHeader h2 {
  font-size: 36px;
  font-weight: 700;
  color: #232536;
}

.allPostsHeader {
  display: flex;
  align-items: center;
  gap: 32px;
}

.viewAll {
  color: #592EA9;
  font-weight: 700;
  text-decoration: none;
}

.postsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.featuredPost {
  background: #FFFFFF;
  border: 1px solid rgba(109, 110, 118, 0.15);
}

.featuredImage {
  width: 100%;
  height: 352px;
  object-fit: cover;
}

.featuredContent {
  padding: 32px;
}

.postMeta {
  color: #4C4C4C;
  margin-bottom: 16px;
  font-size: 16px;
}

.authorName {
  color: #592EA9;
  font-weight: 500;
}

.postTitle {
  font-size: 28px;
  line-height: 1.4;
  color: #232536;
  margin-bottom: 16px;
  font-weight: 700;
}

.postDescription {
  color: #6D6E76;
  line-height: 1.6;
  margin-bottom: 32px;
}

.readMore {
  background: #FFD050;
  border: none;
  padding: 16px 48px;
  font-weight: 700;
  cursor: pointer;
}

.allPosts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.postCard {
  padding: 32px;
  background: #FFFFFF;
  border: 1px solid rgba(109, 110, 118, 0.15);
}

.highlighted {
  background: #FBF6EA;
}

.postCardTitle {
  font-size: 24px;
  line-height: 1.3;
  color: #232536;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1024px) {
  .postsContent {
    grid-template-columns: 1fr;
  }
  
  .postsSection {
    padding: 0 20px;
  }
}